// Media Query
@mixin screen ($size) {
  @media screen and ( min-width: map-get($breakpoints, $size) ) {
    @content;
  }
}

// body text
@mixin body-text{
  color: $white;
  /* Body */
  font-family: Sofia Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

// Tag text
@mixin tag-text{
  color: $lightBlue;
  font-feature-settings: 'liga' off;
  font-family: Sofia Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

// Tag 2
@mixin tag-2{
  font-family: Sofia Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 14.4px */
}

// Tittle 6
@mixin title-6{
  font-family: Sofia Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

// Tittle 2
@mixin title-2{
  font-family: Sofia Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

@mixin body-big{
  font-family: Sofia Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 28px */
}

@mixin body-small{
  font-family: Sofia Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
}

@mixin title-4 {
  font-family: Sofia Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 36px */
}

@mixin body{
  font-family: Sofia Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
}