.main-content{
  margin-top: 80px;
}

.tags-container{
  margin-top: 40px;
  width: 90%;


  &__heading{
    @include tag-text;
    color: $grey-1;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-tag{
    display: flex;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    width: 77px;
    background: rgba(74, 172, 255, 0.20);
  }

  .page-tag p{
    @include tag-2;
    color: $lightBlue;
    margin: 0;
  }
}

.section-one{
  &__heading{
    @include title-2;
    color: $grey-1;
    margin-bottom: 30px;
  }

  &__content{
    @include body-big;
    color: $grey-1;
    margin-bottom: 40px;
  }

  .section-one-list{
    list-style: none;
    padding: 0;

    &__item{
      position: relative;
      color: $grey-1;
      font-family: Sofia Pro;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%; /* 28px */
      display: flex;
      align-items: center;
    }

    &__item::before{
      content: ""; /* Empty content to insert the SVG as a background */
      background-image: url('../../../assets/img/section-one-bullet.svg'); /* Replace with your SVG path */
      background-size: contain; /* Adjust to fit the size of your SVG */
      background-repeat: no-repeat; /* Prevent repeating of the SVG */
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 12px; /* Adjust spacing between the bullet and text */
      vertical-align: middle;
    }
  }
}