.table-of-content{
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: $white;
  box-shadow: 0px 7px 49px 0px rgba(23, 8, 47, 0.09);
  width: 90%;

  &__heading{
    color: #212336 !important;
    font-feature-settings: 'liga' off;
    margin-bottom: 30px;
    @include tag-text
  }

  &__list{
    display: flex;
    padding: 20px 0 20px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    border-bottom: 1px solid rgba(141, 153, 174, 0.30);
    border-top: 1px solid rgba(141, 153, 174, 0.30);

    &__item{
      color: $grey;
      margin: 0;
      @include title-6;

      &--active{
        color: $blue !important;
      }
    }
  }
}

.social-media-container{
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__item{
    display: flex;
    width: 50px;
    height: 50px;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: $white;
    box-shadow: 0px 5px 20px 0px rgba(100, 111, 121, 0.20);
  }
}